:root {
    --amarillo-meli: #EAC926;
    ;
    --azul-meli: #03264C;
    ;
    --gris-claro-meli: #ebebeb;
    ;
    --gris-oscuro-meli: #666;
    --celeste-meli: #1259c3;
    --blanco-meli: #fff;
    --verde-descuento-meli: #00a650;
}

main{
    display:flex;
    justify-content: center;
}
input{
    border-width: 0px 0px 1px 0px;
}

label{
    color: var(--gris-oscuro-meli);

}
.registro{
    margin-top: 40px;
    background-color: var(--blanco-meli);
    box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.29);
    width: 70%;
    max-width: 500px;
    border-radius: 1%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    font-size: 1.5rem;
}
input:focus{
    outline: none;
    border-color: #1259c3;
    font-size: 2rem;
}

.datos-nombres{
    display:flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 100%;
}
.datos-nombres div{
    margin-bottom: 10px;
} 

.nombre-apellido{
    display: flex;
    flex-direction: column;
} 
.nombre-usuario{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    flex-direction: column;
}
.confirm-password{
    display: flex;
    flex-direction: column;
}
.e-mail{
    display: flex;
    flex-direction: column;
}




.fecha{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    max-width: 200px;

}
.domicilio{
    display: flex;
    flex-direction: column;
}
.perfil-usuario{
    display:Flex;
    flex-wrap: wrap;
    width: 100%;
}
.perfil-titular{
    width: 100%;
    margin-bottom: 5px;
    font-weight:900;
    color: black;
}
.comprador{
    width: 50%;
    margin-bottom: 10px;
}
.vendedor{
    width: 50%;

}
.interes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.categorias-interes{
    margin-bottom: 5px;
    color: black;
    font-weight: 900;
}
.interes label input{
    margin-left: 15px;
}
.foto-perfil{
    margin-top: 10px;
}
.foto-perfil label{
    font-weight: 900;
    color: black;
}
.button {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-evenly;
}
button{
    width: 30%;
}